.auth-form {
  max-width: 360px;
  margin: 30px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  label {
    display: block;
    margin: 24px auto;
    span {
      display: block;
      margin-bottom: 6px;
    }
    input {
      padding: 8px 6px;
      font-size: 1.3em;
      color: #777;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 4px;
    }
  }
  .btn {
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    color: #64a6f2;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #64a6f2;
    &:hover {
      color: #fff;
      background-color: #64a6f2;
    }
  }
}
